<!doctype html> 
<html>
  <head>
    <title>
      Cumpliment Your Ticket
    </title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h3>Cumpliment Your Ticket</h3>
    <form action="/ticket/template" method="post">
      <label>Name</label><br />
      <input type="text" name="name"><br />
      <label>Surname</label><br />
      <input type="text" name="surname"><br />
      <label>Where</label><br />
      <input type="text" name="where"><br />
      <label>When</label><br />
      <input type="date" name="when"><br />
      <input type="submit">
      <input type="reset">
    </form>
  </body>
</html>