

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus{
	color:#5e5e5e;
}

.available_locales {
	 margin: 2% 0;
	 color: #8E8E8E;
}

footer p span.copy {
  font-weight: lighter;
}

form.templates-tickets button {
  font-size: 2 rem;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #888;
}











